.main-content_pricing {
    .servicesSection {
        padding: 40px 0px 20px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        position: relative;
        top: -50px;
        z-index: 1;
    }
    .prices {
        padding: 0px 0px 50px;
    }
}