@import "../../mixins.scss";

.why-choose-us {
    padding: 0px 0px 50px;
    position: relative;
    &::after {
        content: "";
        width: 100%;
        height: 200px;
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
        position: absolute;
        top: 37%;
        transform: translateY(-50%);
        @include md {
            background-image: url(../../assets/line.svg);
        }
    }

    .why-choose-us__header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .why-choose-us__image-wrapper {
            img {
                width: 50px;
                @include sm {
                    width: 80px;
                }
            }
        }
        h1 {
            font-size: 35px;
            text-align: center;
            color: #000000;
            font-weight: 600;
            @include sm {
                font-size: 50px;
            }
        }
    }

    .why-choose-us__features {
        display: grid;
        gap: 20px;
        z-index: 3;
        margin-top: 20px;
        @include md {
            grid-template-columns: 1fr 1fr 1fr;
        }
        .why-choose-us__feature {
            text-align: center;
            z-index: 3;
            .why-choose-us__feature-icon {
                background-color: var(--primary);
                width: 120px;
                height: 120px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px auto;
                svg {
                    color: #ffffff;
                    font-size: 50px;
                }
            }
            h3 {
                font-size: 30px;
                font-weight: 600;
                color: var(--secondary);

            }
            p {
                font-size: 17px;
                font-weight: 600;
                color: var(--grey-color);
            }
        }
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 20px;
        text-transform: uppercase;
        padding: 10px 40px;
        transition: 0.5s;
        font-weight: 600;
        border-radius: 50px;
        cursor: pointer;
        text-align: center;
        background-color: var(--primary);
        color: #f9f9f9;
        border: 1px solid var(--primary);
        margin: 40px auto 10px;
        @include md {
            margin: 10px auto;
        }
        svg {
            transform: rotate(45deg);
            font-size: 20px;
        }
        &:hover {
            color: var(--primary);
            background-color: transparent;
        }
    }
}