.contactUs {
    .teamSection {
        padding: 50px 0px 20px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        position: relative;
        top: -50px;
        position: relative;
    }
}