@import '../../mixins.scss';

.faqsContainer {
    padding: 10px 0px 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
    top: -50px;
    background-color: #ffffff;
    position: relative;
    .faqsContent {
        .faqSection {
            margin-top: 30px;
            h2 {
                font-size: 27px;
                font-weight: 600;
                border-left: 4px solid var(--primary);
                padding-left: 15px;
                line-height: 1.2;
                @include sm {
                    font-size: 40px;
                }
            }
            .accordion {
                background-color: transparent;
                box-shadow: none;
                padding: 10px 5px;
                background-color: transparent !important;
                border-bottom: 1px solid #0000001d;
                margin: 20px 0px;
                &::before {
                    position: relative;
                }
                * {
                    box-shadow: none;
                    border: none !important;
                }
                .questionTitle {
                    font-size: 17px;
                    font-weight: 600;
                    @include sm {
                        font-size: 24px;
                    }
                }
                .questionAnswer {
                    p {
                        color: #000000;
                        font-size: 19px;
                        margin-top: 10px;
                    }

                    ul {
                        list-style: none;
                        padding-left: 20px;
                        li {
                            margin-top: 10px;
                            color: var(--grey-color);
                            font-size: 19px;
                            span {
                                color: var(--primary);
                                font-weight: 600;
                                margin-right: 5px;
                                font-size: 25px;
                                position: relative;
                                top: 6px;
                            }
                        }
                    }

                    h4 {
                        color: var(--secondary);
                        margin-top: 20px;
                        font-size: 20px;
                    }

                    img {
                        width: fit-content;
                        margin: 10px auto;
                    }
                }
                svg {
                    color: var(--primary);
                }
            }
        }
    }
}