.scroll_button {
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color:white;
    border-radius: 8px;
    right: 40px;
    bottom: 30px;
    cursor: pointer;
    transition: 0.5s;
    z-index: 100;
    font-size: 17px;
    &:hover {
        background-color: transparent;
        color: var(--primary);
    }
}